* {
    box-sizing: border-box;
    font-family: 'Della Respira', serif;
}
*:focus {
    outline: 0;
}

html {
    height: 100%;
    background-color: #62c496;
}

h1 {
    text-align: center;
    color: #c46f62;
    border-radius: 2px;
    font-size: 35px;
    background-color: white;
}


footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#addBookBtn {
    font-size: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family:  serif;
}

.titles {
    position: relative;
    background-color: black;
    border: 2px solid grey;
}

.title {
    position: absolute;
    color: white;
    bottom: 50;
}


#formContainer {
    position: fixed;
    top: 50%;  
    left: 50%;
    transform: translate(-48.5%, -50%);
    background-color: rgba(101, 191, 230, 1);
    border: 3px solid black;
    border-radius: 15px;
}

.labelContainers {
    display: flex;
    justify-content: center;
    border: solid 1px #ccc;
    position: relative;
    width: fit-content;
    margin: 50px;
}

.textLabel {
    position: absolute;
    font-family: cursive;
    font-size: 3vh;
    color: rgba(140, 126, 125, 1);
    left: 0;
    width: 5vw;
    
  }

#readLabel {
    position: relative;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    color: rgba(140, 126, 125, 1);
    left: 40%;
}

#read {
    position: relative;
    left: 40%;
    height: 20px;
}

input {
    height: 3vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    
  } 

#submitContainer {
    position: relative;
    width: fit-content;
    margin-top: 3vh;
    left:39%;

}

#submit {
    color:rgba(250, 126, 125, 1);
    padding-bottom: 30px;
    margin-bottom: 0.5vh;
}

.hideLabel {
      color: transparent;
  }

  .hidden {
      visibility: hidden;
  }

  #gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, 1fr);
    
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.bookCard {
    height: 300px;
    background-color: #c46f62;
    border: 2px solid black;
    margin: 5%;
}



.cardTitle {
    font-size: 20px;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    height: 90px;
    text-decoration: underline;
}

.cardAuthor {
    font-size: 15px;
    position: relative;
    height: 25px;
    font-size: 17px;
}

.cardPages {
    position: relative;
    height: 25px;
    font-size: 17px;
}

.cardRead {
    position: relative;
    top: 50px;
    font-family: serif;
    font-size: 20px;
}

.cardRemove {
    position: relative;
    top: 50px;
    font-family: serif;
    font-size: 20px;
}

.itemSpacing {
    margin: 10px;
}

.bookRead {
    background-color: #52c76b;
}


.buttonsContainer {
    display: flex;
    justify-content: center;
}

.addBookAnimation {
    animation: enlarge 0.5s linear forwards;
}

@keyframes upDown {
    0% {
        transform: translateY(0%);
    }

    33% {
        transform: translateY(-30%);
    }

    66% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    33.3% {
        transform: scale(1..05);
    }
    66.7% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}

@media screen and (max-height: 800px) {
    #gridContainer {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        height: 80vh;
        width: 80vw;
        overflow-x: unset;
        overflow-y: unset;
    }
}

@media screen and (max-width: 800px) {
    #gridContainer {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        height: 80vh;
        width: 80vw;
        overflow-x: unset;
        overflow-y: unset;
    }
    .cardTitle {
        font-size: 15px;
    }

    .cardRead {
        font-size: 15px;
        top: 0px;
    }

    .cardRemove {
        font-size: 15px;
        top: 0px;
    }

    .cardPages {
        margin-top: 40px;
    }
};

